.reservas h1 {
    font-family: Creepster;
}

.reservas h3 {
    color: white;
    font-family: Creepster;
    padding: 0 50px;
    text-align: center;
}

.reservas section.info {
    padding: 30px 50px;
    font-family: cursive;
    color: white;
    display: flex;
    flex-direction: column;
}

.reservas section.info div {
    width: 50%;
    margin: 20px 30px;
}

.reservas .calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.reservas h4 {
    color: white;
}

.reservas form {
    color: white;
    width: 90%;
    margin-top: 50px;
}

@media (min-width: 700px) {
    .reservas section.info {
        flex-direction: row;
    }
    .reservas form {
        color: white;
        width: 30%;
    }

    .reservas .calendar {
        flex-direction: row;
    }
}